.container{
    display: block;
    height: calc(100% - 64px);
    max-height: calc(100% - 84px);
    overflow-y: auto;
    position: absolute;
    width: calc(100% - 18px);
}
.add-button{
    position:fixed;
    bottom:20px;
    right:20px;
}
.txt{
    font-size: 1.3em;
    line-height: 1.3em;
    padding: 8px 4px 8px 4px;
    text-shadow: 0px 0px 1px black;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loading {
    background: #3B84E9;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 0.25rem solid rgba(255, 255, 255, 0.2);
    border-top-color: rgba(255, 255, 255, 0.65);
}
.time{
    color: #4BE932;
    padding: 2px 16px;
    font-weight: bolder;
    text-shadow: none;
}
